<div class="interactive-container">

  <div class="left-container">
    <div class="json-container">
      <label for="json">JSON Data</label>
      <textarea id="json" rows="10" cols="50" placeholder="Enter valid JSON here" class="file-input" [ngClass]="hasJsonErr? 'err-border' : ''" [(ngModel)]="jsonData" (change)="extractJsonFields(jsonData)" required></textarea>
      <div *ngIf="hasJsonErr">
        <p class="red">{{ fullJsonErr.jsonResponse }} </p>
        <p class="red">{{ fullJsonErr.descriptiveJsonErr }} </p>
      </div>
    </div>
    <div class="template-container">
      <label for="name">Template Name</label>
      <input type="text" id="name" class="file-input" [(ngModel)]="templateName" required/>
    </div>
  </div>

  <div class="editor-container">
    <label for="quill-editor-interactive">Your Editor</label>
    <quill-editor
      [(ngModel)]="editorContent"
      [modules]="editorConfig"
      [style]="{height: '300px'}"
      (keydown.control.space)="listenOnCtrlSpace($event)"
      placeholder="Write your freemarker templates here..."
      id="quill-editor-interactive"
    >
    </quill-editor>
  </div>

  <div class="save-button-container">
    <p *ngIf="serverResponse" class="red">Response: {{ serverResponse }}</p>
    <button (click)="saveContent()">Generate</button>
  </div>
</div>

<!-- JSON Field Selector Dropdown -->
<div *ngIf="showJsonSelector" class="json-field-selector" [ngStyle]="dropdownPosition">
  <div *ngFor="let field of jsonFields" (click)="insertJsonField(field)">
    {{ field.label }}
  </div>
</div>
