/* Main container for the layout */
.interactive-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* JSON editor on the left, Quill editor on the right */
  gap: 20px;
  padding: 20px;
}

/* JSON container and fields */
.left-container {
  display: flex;
  flex-direction: column;
}

.left-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.template-container, .json-container {
  display: flex;
  flex-direction: column;
}

.template-container{
  margin-top: 16px;
}

.editor-container {
  display: flex;
  flex-direction: column;
}

.editor-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.file-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.json-field-selector {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 200px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.json-field-selector div {
  padding: 10px;
  cursor: pointer;
}

.json-field-selector div:hover {
  background-color: #f0f0f0;
}
.red{
  color: red;
}
.err-border{
  border: 1px solid red !important;
}
