<div class="form-container">
  <form [formGroup]="templateForm">
    <div formArrayName="variables">
      <div *ngFor="let variable of variables.controls; let i = index" [formGroupName]="i">
        <input formControlName="name" placeholder="Variable Name">
        <input formControlName="value" placeholder="Value">
        <button type="button" (click)="variables.removeAt(i)">Remove</button>
      </div>
      <button type="button" (click)="addVariable()">Assign Variables</button>
    </div>

    <div formArrayName="conditions">
      <div *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i">
        <input formControlName="expression" placeholder="Condition (e.g., age < 18)">
        <textarea formControlName="trueBlock" placeholder="True Block"></textarea>
        <input formControlName="elseIfExpression" placeholder="Condition (e.g., age > 18 && age < 50)">
        <textarea formControlName="elseIfBlock" placeholder="Else If Block"></textarea>
        <textarea formControlName="falseBlock" placeholder="False Block"></textarea>
        <button type="button" (click)="conditions.removeAt(i)">Remove</button>
      </div>
      <button type="button" (click)="addCondition()">Conditional Statements</button>
    </div>

    <div formArrayName="loops">
      <div *ngFor="let loop of loops.controls; let i = index" [formGroupName]="i">
        <input formControlName="listVariable" placeholder="List Variable (e.g., items)">
        <textarea formControlName="loopBody" placeholder="Loop Body"></textarea>
        <button type="button" (click)="loops.removeAt(i)">Remove</button>
      </div>
      <button type="button" (click)="addLoop()">Iterative expressions</button>
    </div>

    <div formArrayName="macros">
      <div *ngFor="let macro of macros.controls; let i = index" [formGroupName]="i">
        <input formControlName="name" placeholder="Macro Name">
        <textarea formControlName="body" placeholder="Macro Body"></textarea>
        <button type="button" (click)="macros.removeAt(i)">Remove</button>
      </div>
      <button type="button" (click)="addMacro()">Macros</button>
    </div>
  </form>
</div>
