<div class="form-container">
  <!-- Buttons with Icons -->
  <div class="button-group">
    <button matTooltip="Assign variables" matTooltipPosition="above" type="button" (click)="toggleForm('variables')">
      <fa-icon [icon]="faPlus"/> Variables
    </button>
    <button matTooltip="Write conditions" matTooltipPosition="above" type="button" (click)="toggleForm('conditions')">
      <fa-icon [icon]="faPlus"/> Conditions
    </button>
    <button matTooltip="Write iterations" matTooltipPosition="above"  type="button" (click)="toggleForm('loops')">
      <fa-icon [icon]="faPlus"/> Iterations
    </button>
    <button matTooltip="Add macros" matTooltipPosition="above"  type="button" (click)="toggleForm('macros')">
      <fa-icon [icon]="faPlus"/> Macros
    </button>
  </div>

  <!-- Variables Form -->
  <div *ngIf="activeForm === 'variables'" class="form-section">
    <form [formGroup]="templateForm">
      <div formArrayName="variables">
        <div *ngFor="let variable of variables.controls; let i = index" [formGroupName]="i" class="act-div">
          <input formControlName="name" placeholder="Variable Name">
          <input formControlName="value" placeholder="Value">
          <button type="button" class="rm-btn trash" (click)="variables.removeAt(i)">
            <fa-icon matTooltip="Remove variable" matTooltipPosition="below" [icon]="faMinus"/>
          </button>
        </div>
      </div>
      <div class="act-btn">
        <button type="button" class="add-btn" (click)="addVariable()">
          <fa-icon matTooltip="Add more" matTooltipPosition="above" [icon]="faPlus"/>
        </button>
        <button type="button" class="save-btn" (click)="saveVariables()">
          <fa-icon matTooltip="Insert to editor" matTooltipPosition="above" [icon]="faSave"/>
        </button>
      </div>
    </form>
  </div>

  <!-- Conditions Form -->
  <div *ngIf="activeForm === 'conditions'" class="form-section">
    <form [formGroup]="templateForm">
      <div formArrayName="conditions">
        <div *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i" class="act-div">
          <input formControlName="expression" placeholder="Condition (e.g., age < 18)">
          <textarea formControlName="trueBlock" placeholder="True Block"></textarea>
          <input formControlName="elseIfExpression" placeholder="Condition (e.g., age > 18 && age < 50)">
          <textarea formControlName="elseIfBlock" placeholder="Else If Block"></textarea>
          <textarea formControlName="falseBlock" placeholder="False Block"></textarea>
          <button type="button" class="rm-btn trash" (click)="conditions.removeAt(i)">
            <fa-icon matTooltip="Remove condition" matTooltipPosition="below" [icon]="faMinus"/>
          </button>
        </div>
      </div>

      <div class="act-btn">
        <button type="button" class="add-btn" (click)="addCondition()">
          <fa-icon matTooltip="Add more" matTooltipPosition="above" [icon]="faPlus"/>
        </button>
        <button type="button" class="save-btn" (click)="saveConditions()">
          <fa-icon matTooltip="Insert to editor" matTooltipPosition="above" [icon]="faSave"/>
        </button>
      </div>
    </form>
  </div>

  <!-- Loops Form -->
  <div *ngIf="activeForm === 'loops'" class="form-section">
    <form [formGroup]="templateForm">
      <div formArrayName="loops">
        <div *ngFor="let loop of loops.controls; let i = index" [formGroupName]="i" class="act-div">
          <input formControlName="listVariable" placeholder="List Variable (e.g., items)">
          <textarea formControlName="loopBody" placeholder="Loop Body"></textarea>
          <button type="button" class="rm-btn trash" (click)="loops.removeAt(i)">
            <fa-icon matTooltip="Remove iteration" matTooltipPosition="below" [icon]="faMinus"/>
          </button>
        </div>
      </div>

      <div class="act-btn">
        <button type="button" class="add-btn" (click)="addLoop()">
          <fa-icon matTooltip="Add more" matTooltipPosition="above" [icon]="faPlus"/>
        </button>
        <button type="button" class="save-btn" (click)="saveLoops()">
          <fa-icon matTooltip="Insert to editor" matTooltipPosition="above" [icon]="faSave"/>
        </button>
      </div>
    </form>
  </div>

  <!-- Macros Form -->
  <div *ngIf="activeForm === 'macros'" class="form-section">
    <form [formGroup]="templateForm">
      <div formArrayName="macros">
        <div *ngFor="let macro of macros.controls; let i = index" [formGroupName]="i" class="act-div">
          <input formControlName="name" placeholder="Macro Name">
          <textarea formControlName="body" placeholder="Macro Body"></textarea>
          <button type="button" class="rm-btn trash" (click)="macros.removeAt(i)">
            <fa-icon matTooltip="Remove macro" matTooltipPosition="below" [icon]="faMinus"/>
          </button>
        </div>
      </div>

      <div class="act-btn">
        <button type="button" class="add-btn" (click)="addMacro()">
          <fa-icon matTooltip="Add more" matTooltipPosition="above" [icon]="faPlus"/>
        </button>
        <button type="button" class="save-btn" (click)="saveMacros()">
          <fa-icon matTooltip="Insert to editor" matTooltipPosition="above" [icon]="faSave"/>
        </button>
      </div>
    </form>
  </div>
</div>
