.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.form-section {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.act-div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  margin-bottom: 8px;
}

.act-btn{
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.trash{
  width: fit-content;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}
